.container {
    background: var(--bg-color-gray);
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
}

.heading {
    color: var(--accent-color);
    font-size: var(--heading-size)
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}
